.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %ul.nav.navbar-nav
        %li
          = link_to "Wizard Questions", rapidfire.question_groups_path
        - if current_user
          %li=# link_to "Logout", main_app.session_path, method: :delete
        - else
          %li= link_to "Login", main_app.new_session_path
