%h2
  Question Sets
  - if can_administer?
    .pull-right
      = link_to "New Question Set", new_question_group_path, class: "btn btn-primary"
%hr

%table.table.table-striped.table-bordered
  %colgroup
    %col
    %col{ width: "45%" }
  %thead
    %tr
      %th Question Set
      %th
  %tbody
    = render partial: "question_group", collection: @question_groups
